<!doctype html>
<html lang="en">
<head>
    <title>Todo Be Blue</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <style>

       .center-container {
           float: none;
           margin-left: 15%;
           margin-right: 15%;
       }

        tr.feito td label {
            color: #d9d9d9;
            text-decoration: line-through;
        }

        .glyphicon {
            cursor: pointer;
            -ms-transform: scale(1.5); /* IE */
            -moz-transform: scale(1.5); /* FF */
            -webkit-transform: scale(1.5); /* Safari and Chrome */
            -o-transform: scale(1.5); /* Opera */
        }

        input[type=checkbox] {
            -ms-transform: scale(1.5); /* IE */
            -moz-transform: scale(1.5); /* FF */
            -webkit-transform: scale(1.5); /* Safari and Chrome */
            -o-transform: scale(1.5); /* Opera */
            padding: 5px;
        }

        input[type=radio] {
            margin-left: 5px;
        } 
            
        [ng-cloak] {
            display: none;
        }

        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }

    </style>
</head>
<body ng-app="TodoApp">    
       
    <div ng-controller="TodoCtrl" class="panel panel-default center-container">

        <div id="categoria-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3>Adicionar Categoria</h3>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" ng-model="novaCategoria" autofocus>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="adicionaCategoria()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-header" style="text-align:center;">
            <h1>Todo BeBlue</h1>
        </div>

            <div class="panel-heading">
                <form ng-submit="adicionaTodo()">
                    <div class="row">
                        <div class="col-md-8">
                            <input id="novo-todo" placeholder="Digite um item" ng-model="novoTodo" ng-disabled="savando" class="form-control" required autofocus>
                        </div>
                        <div class="col-md-4">
                            <input type="submit" value="Salvar" class="btn btn-primary" />
                        </div>
                    </div>
                </form>

                <div class="container" style="margin-top:5px;">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Prioridade</label>
                        </div>
                        <div class="col-md-4">
                            <label>Categoria</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <input type="radio" ng-model="prioridadeTodo" ng-value="1" checked /> Baixa
                            <input type="radio" ng-model="prioridadeTodo" ng-value="2" /> Média
                            <input type="radio" ng-model="prioridadeTodo" ng-value="3" /> Alta
                        </div>                
                        <div class="col-md-4">
                            <select class="form-control" ng-model="categoriaId">                                
                                <option ng-repeat="categoria in categorias" ng-value="categoria.CategoriaId" class="form-control">
                                    {{categoria.Descricao}}
                                </option>
                            </select>
                        </div>     
                        <div class="col-md-2">
                            <span class="glyphicon glyphicon-plus vcenter" data-toggle="modal" data-target="#categoria-modal"></span>
                        </div> 
                    </div>
                                           
                </div>
            </div>

            <div class="panel-body" ng-show="todos.length" ng-cloak>                
                
                <input id="checa-todos" type="checkbox" ng-model="marca" ng-click="marcaTodos(marca)" style="margin:6px;">
                <label for="checa-todos">Marcar todos</label>

                <table class="table table-striped" >      
                    <thead>
                        <th>
                            Selecionar
                        </th>
                        <th>
                            Descrição
                        </th>
                        <th>
                            Prioridade
                        </th>
                        <th>
                            Categoria
                        </th>
                        <th>
                            Excluir
                        </th>
                    </thead>          
                    <tr ng-repeat="todo in todos | filter : filtroStatus track by $index" ng-class="{ feito: todo.Feito }">
                        <td>
                            <input class="toggle" type="checkbox" ng-model="todo.Feito" ng-change="editaTodo(todo)">
                        </td>
                        <td>
                            <label>{{todo.Descricao}}</label>
                        </td>            
                        <td>
                            <label>{{todo.Prioridade == 1 ? "Baixa" : todo.Prioridade == 2 ? "Média" : todo.Prioridade == 3 ? "Alta" : "" }}</label>
                        </td>
                        <td>
                            <label>{{todo.Categoria.Descricao}}</label>
                        </td>            
                        <td>
                            <span class="glyphicon glyphicon-trash" ng-click="apagaTodo(todo.TodoId)"></span>
                        </td>                       
                    </tr>
                </table>
            </div>

            <div class="panel-footer" ng-show="todos.length" ng-cloak>

                <span id="todo-count">
                    <strong>{{todosRestantes}}</strong>
                    <ng-pluralize count="todosRestantes" when="{ one: 'item restante', other: 'items restantes' }"></ng-pluralize>
                </span>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <label>Filtrar</label>
                    </div>
                </div>

                <div class="row">         
                    <div class="col-md-12">
                        <input type="radio" ng-model="status" ng-value="1" ng-click="filtraStatus(status)" /> Todos
                        <input type="radio" ng-model="status" ng-value="2" ng-click="filtraStatus(status)" /> À Fazer
                        <input type="radio" ng-model="status" ng-value="3" ng-click="filtraStatus(status)" /> Feitos
                    </div>
                </div>

            </div>
        
    </div>
   
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/todoCtrl.js"></script>    
</body>
</html>
